@model List<Test>
@{
    ViewData["Title"] = "Test";
    Layout = "_Layout";
}

@if (!Model.Any())
{
    <p>There are no tests associated with the user</p>;
    @*<img src="~/images/image/image_1.jpg" />*@

}
else
{
    @foreach (var test in Model)
    {
        <p>This is the test ID for this test: @test.Testid</p>;


        int k = 4;
        for (int i = 0; i < k; i++)
        {
            @switch (test.TestsQ[i].Opcode)
            {
                case "Count":
                    for (int j = 0; j < test.TestsQ[i].firstoperand; j++)
                    {
                        <img src="~/images/image/@test.ImageName" />
;

                    }
                    <div class="form-group col-md-6">
                        <input type="text" value="" class="text-capitalize" />
                        
                    </div>
                    <div class="form-group col-md-6">
                        <input type="submit" value="Submit" />
                    </div>
                    break;



            }

        }



    }
}


