@model List<Test>
@{
    ViewData["Title"] = "Test";
    Layout = "_Layout";
}

@if (!Model.Any())
{
    <p>There are no tests associated with the user</p>
    @*<img src="~/images/image/image_1.jpg" />*@
    
}
else
{
    @foreach (var test in Model)
    {
        <p>This is the test ID for this test: @test.Testid</p>
        
        <img src="~/images/image/@test.ImageName" />
    }
}

