@model QuestionAnswer
@{
    ViewData["Title"] = "Tempclass";
    Layout = "_Layout";
}






<form asp-action="Index" asp-controller="Test">

    <input asp-for=@Model.UserAnswer type="submit" value="Submit" id="save" class="btn-outline-dark" />


</form>